html, body, #track, #showmap{
	height: 100%;
	padding: 0px;
}
#mapcanvas {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
#title, #update {
	text-align: center;
}
.background {
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
		url("../windshield_back.jpg");
	background-size: cover;
}

.center {
	margin:auto;
}

.button {
	display:block;
	width: 29%;
	text-overflow: clip;
	font-size: .1em;
}
h1 {
	width: 30%;
	margin: 30px;
}
.homeheader {
	color: white;
	padding-top: 20px;
}
.homepara {
	font-size: 18pt;
	color: white;
	font-weight: 600;
	width: 75%;
	margin: auto;
	padding-top: 60px;
	opacity: .75;
}
.logintext {
	color:white;
	opacity: .75;
}
#newacct td {
	padding-top: 10px;
}
#errmsg {
	color: #FF0000;
}

.navigation {
	text-align: center;
}

#save {
	margin: 20px;
	display: none;
}

#msg {
	display: none;
	margin: 20px;
}